.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  width: 20rem;
}
label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
  justify-self: center;
}
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  text-align: center;
  /* margin-bottom: 10px; */
}
input {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #333;
  width: 100%;
}
form {
  align-items: center;
  width: 80rem;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  padding: 1rem 2rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

input[type="submit"]:disabled {
  background-color: #a8a8a8;
  cursor: not-allowed;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
