.navbar {
  height: 10vh;
  width: 100vw;
  background-color: #2e5b36;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 64px;
  width: 64px;
  padding: 10px;
  margin-left: 20px;
}
.links {
  width: 30%;
  display: flex;
  gap: 30px;
  margin-left: 20px;
  text-decoration: none;
}
.activeStyles {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.classicStyles {
  color: black;
  font-weight: normal;
  text-decoration: none;
}
