.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 10px;
}
body {
  background-color: #eee;
}
.set-currency {
  margin: 10px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
