@import "../../components/font/fonts.css";
.home-container {
  background-image: url(https://media.wired.com/photos/600f3b3ad721ab7365e3b9ab/master/w_2560%2Cc_limit/Business-Online-Grocery-Delivery-102759797.jpg);
  width: 100vw;
  height: 90vh;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-position-y: 40%;
}
.home-title {
  background-color: #2e5b36;
  color: white;
  padding: 10px;
  margin-right: 20px;
  font-size: 3.5rem;
  font-family: "Anton", sans-serif;
}
.home-text {
  display: block;
}
.products {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #d8ec81;
  color: #2e5b36;
  text-decoration: none;
  font-weight: 700;
}
